.right {
    flex: 1;
    background-color: #ffffff;
    padding-top: 10vh;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group1,
.btn-group2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.btn-group1 button,
.btn-group2 button {
    background-color: #C50047;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    margin: 10px 0;
    width: 200px;
}

@media (max-width: 768px) {

    .btn-group1 button,
    .btn-group2 button {
        padding: 15px 20px;
        margin-right: 5%;
        margin-left: 5%;
        float: none;
        display: block;
        margin: 2% auto;
    }
}

@media (max-width: 480px) {

    .btn-group1 button,
    .btn-group2 button {
        padding: 10px 15px;
        margin-right: 2%;
        margin-left: 2%;
        font-size: 14px;
        float: none;
        display: block;
        margin: 2% auto;
    }
}