.right {
    flex: 1;
    background-color: #ffffff;
    padding-top: 5vh;
    height: 120vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.btn-group1,
.btn-group2 {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin-bottom: 20px;
}

.btn-group1 button,
.btn-group2 button {
    background-color: #C50047;
    color: white;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    margin: 10px 0;
    width: 200px;
}