.left {
  padding-top: 5vh;
  background-color: #C50047;
  margin-right: auto;
}

/* Header Styles */

.header {
  background-color: #C50047;
  padding: 10px;
  text-align: center;
  color: #fff;
}

.header img {
  height: 40px;
  margin: 10px;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  font-size: 22px;
}

#label {
  padding-right: 5%;
}

/* Button Styles */
.button {
  background-color: #C50047;
  color: #fff;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  font-weight: bold;
  cursor: pointer;
  display: block;
  margin: 20px auto;
}
