body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    display: flex;
    height: 100vh;
}

.left, .right {
    flex: 1;
    padding: 5vh;
}

.left {
    background-color: #C50047;
    color: #fff;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.right {
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
}

.header img {
    height: 80px;
}

.header h1 {
    font-size: 40px;
    margin: 10px 0;
}

.header h2 {
    font-size: 30px;
    margin: 10px 0;
}

.header p {
    font-size: 18px;
    margin: 10px 0;
}

.social-icons {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.social-icons a {
    color: #fff;
    font-size: 24px;
    text-decoration: none;
}

.form-container {
    width: 100%;
    max-width: 400px;
    padding: 20px;
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.form-container form {
    margin-bottom: 20px;
}

.form-container label {
    display: block;
    font-size: 17px;
    margin-bottom: 5px;
}

.form-container input[type="email"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 5px;
    font-size: 16px;
}

.button {
    width: 100%;
    padding: 10px;
    background-color: #C50047;
    color: white;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor: pointer;
}

.button:hover {
    background-color: #a10037;
}

@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }

    .left, .right {
        flex: none;
        width: 100%;
        padding: 2vh;
    }

    .form-container {
        width: 90%;
        margin: 0 auto;
    }

    .social-icons {
        justify-content: space-around;
    }
}

@media (max-width: 480px) {
    .header h1 {
        font-size: 32px;
    }

    .header h2 {
        font-size: 26px;
    }

    .header p {
        font-size: 16px;
    }

    .social-icons a {
        font-size: 20px;
    }
}
