.home-container {
    display: flex;
}

.desktop {
    flex-direction: row;
}

.mobile {
    flex-direction: column;
}

.right {
    flex: 1;
    background-color: #ffffff;
    padding-top: 5vh;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: auto;
}

.table-container {
    width: 100%;
    padding-top: 5vh;
    max-width: 95%;
    overflow-x: auto;
    margin: 0 auto;
}

.table-container table {
    width: 100%;
    min-width: 600px;
    border-collapse: collapse;
}

.table-container th,
.table-container td {
    border: 1px solid #ccc;
    padding: 5px;
    text-align: center;
    word-break: break-word;
    overflow-wrap: break-word;
}

.table-container th {
    background-color: #c50047;
    color: white;
    font-size: 14px;
}

.btn-group3 {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 10px;
}

.btn-group3 button {
    background-color: #c50047;
    color: white;
    border: none;
    border-radius: 4px;
    padding: 10px 20px;
    font-weight: bold;
    margin: 10px 0;
    width: 200px;
}

@media (max-width: 428px) {
    .home-container {
        flex-direction: column;
    }

    .right {
        padding-top: 2vh;
        height: auto;
        width: 100%;
        overflow: auto;
    }

    .table-container {
        height: 30%;
        overflow-x: auto;
        padding: 10px;
        width: 100%;
    }

    .table-container table {
        width: 100%;
        min-width: 100%;
    }

    .btn-group3 button {
        width: 100%;
    }
}