.left, .right {
  flex: 1;
}

.left {
  background-color: #C50047;
  color: white;
}

.right {
  background-color: #ffffff;
}

body {
  font-family: Arial, sans-serif;
  margin: 0;
}

.header {
  text-align: center;
  margin-bottom: 20px;
  font-size: 14px;
}

